<div class="flexGrid my-container">
  <div class="main-content">
    <div class="animal-name">
      {{annuncio!.animale!.nome}}
    </div>
    <div class="topinfo">
    <div class="animal-image">
      <img [src]="annuncio!.foto_profilo" height="180px" width="170px">
      <!--<input type="file" (change)="handleUpload($event)"/>-->
    </div>
    <div class="shortinfo">
      <p class="shortstring"><mat-icon aria-hidden="false" aria-label="sesso" fontIcon="filter_vintage"></mat-icon>{{annuncio!.animale!.sesso}}</p>
      <p class="shortstring"><mat-icon aria-hidden="false" aria-label="data di nascita" fontIcon="cake"></mat-icon>{{annuncio!.animale!.eta}}</p>
      <p class="shortstring"><mat-icon aria-hidden="false" aria-label="sterilizzato" fontIcon="pets"></mat-icon>{{annuncio!.animale!.specie}}</p>
      <p class="shortstring"><mat-icon aria-hidden="false" aria-label="storia" fontIcon="transform"></mat-icon>{{annuncio!.animale!.taglia}}</p>
      </div>
    </div>
    <div class="longinfo">
      <div class="longinfospec">
      <mat-icon aria-hidden="false" aria-label="carattere" fontIcon="psychology"></mat-icon>
      <h2>Carattere</h2>
    <p class="longtext"> {{annuncio!.descrizione}} </p>
    </div>
      <div class="longinfospec">
        <mat-icon aria-hidden="false" aria-label="esigenze particolari" fontIcon="diversity_1"></mat-icon>
        <h2>Famiglia</h2>
        <p class="longtext"> {{annuncio!.informazioni_mediche}}</p>

    </div>
    </div>
  </div>
  <div class="sidebar-content">
    Compila il modulo di adozione
    <button mat-raised-button color="accent" (click)="adottaAnimale()">ADOTTAMI</button>
  </div>
</div>
