<div class="flexGrid my-container">
  <div class="main-content">
    <div class="animal-name">
      {{annuncio.animale.nome}}
    </div>
    <div class="animal-image">
      <img src={{annuncio.foto_profilo}}>
      <!--<input type="file" (change)="handleUpload($event)"/>-->
    </div>
    <div>
      <mat-icon aria-hidden="false" aria-label="sesso" fontIcon="pets"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="data di nascita" fontIcon="cake"></mat-icon>
      <strong>{{annuncio.animale.eta}}</strong>
      <mat-icon aria-hidden="false" aria-label="sterilizzato" fontIcon="local_hospital"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="carattere" fontIcon="psychology"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="storia" fontIcon="book_5"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="esigenze particolari" fontIcon="diversity_1"></mat-icon>

    </div>
  </div>
  <div class="sidebar-content">
    Compila il modulo di adozione
    <button mat-raised-button>Qui</button>
  </div>
</div>
