.navbar {
    background-color: #4d88ff;


}

.navbar-brand{
    color : white;
    
}

.btn{
    float : right;
    margin-left : 5px;
    margin-right : 5px;
    color : white;
    border-color: white;
}

.nav-item{
    float : left;
    color : white;
    margin-left : 5px;
    margin-right : 5px;
    
    

}

.nav-link{
    display: inline-block;
    color : white;
    margin-left : 10px;
    margin-right : 10px;
}


.navbar-nav{
    margin-right: 0px;
    display: inline-block;
    position: inherit;
    

}

.navbar-buttons{
    display: flex;
  justify-content: right;
  position:relative;
  align-items: center;
}

.container-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

.container-fluid{
    display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container-navbar{
    display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container-navbar > .navbar-buttons{
   
  justify-content: right;
}