.logo{
  height: 100%;
  width: auto;
  object-fit: contain;
}

.spacerBig {
  flex: auto;
}

.full{
  height: 75%;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr;

}

.stroke {
    border: solid !important;
    border-width: thin !important;
    margin: 0 0.4em;
}


.mat-toolbar{
  height: 6rem;
}


.toolFoot{
  position: static;
  bottom: 0;
  z-index: 100;
}
