<p class="tb">
  <mat-toolbar color="primary">

    <a class="logo" routerLink="/">
      <img class="logo" src="./assets/imgs/logo.png" alt="ProntoMiao">
    </a>
    <button mat-button>
      La Nostra Missione
    </button>
    <button mat-button>
      Chi Siamo
    </button>
    @if (isLogged()) {
      <button mat-button (click)="logoutUser()">
        Logout
      </button>  
    }

    <span class="spacerBig"></span>
    @if (!isLogged()) {
      <button mat-stroked-button class="stroke" routerLink="/login">
        Login
      </button>
      <button mat-stroked-button class="stroke" routerLink="/signup">
        Registrati
      </button>  
    } @else {
      <mat-form-field>
        <mat-label>Ricerca</mat-label>
        <input matInput type="text" [(ngModel)]="searchValue">
      </mat-form-field>
      <button mat-stroked-button class="stroke"><mat-icon>search</mat-icon></button>
    }
  </mat-toolbar>
</p>



  
    <router-outlet></router-outlet>
  






<mat-toolbar class="toolFoot">
  <span>Qualcosa</span>
  <span class="spacerBig"></span>
  <span>Qualcosa</span>
</mat-toolbar>
