<p class="tb">
  <mat-toolbar color="primary">
    <a class="logo" routerLink="/">
      <img class="logo" src="./assets/imgs/logo.png" alt="ProntoMiao">
    </a>
    
    @if (!isLogged()) {
      <button mat-button>
        La Nostra Missione
      </button>
      <button mat-button>
        Chi Siamo
      </button>
    } @else {
      <button mat-button><mat-icon>home</mat-icon>
      </button>
      <button mat-button (click)="profilepage()">
        Il Mio Profilo
      </button>
      <button mat-button (click)="logoutUser()">
        Logout
      </button>  
    }


    <span class="spacerBig"></span>
    @if (!isLogged()) {
      <button mat-stroked-button class="stroke" routerLink="/login">
        Login
      </button>
      <button mat-stroked-button class="stroke" routerLink="/signup">
        Registrati
      </button>  
    } @else {
      <span class="rightcorner">
      <mat-form-field class="searchbar" >
        <mat-label>Ricerca</mat-label>
        <input matInput type="text"  [(ngModel)]="searchValue" >
      </mat-form-field>
      <button mat-stroked-button class="stroke"><mat-icon>search</mat-icon></button>
    </span>
    }
  </mat-toolbar>
</p>



  
    <router-outlet></router-outlet>
  






<mat-toolbar class="toolFoot">
  <span><img src="./assets/imgs/logo.png" alt="ProntoMiao" height="100px" width="100px"></span>
  <span class="spacerBig"></span>
  <span>Progetto by Arienzo-Dramis-Marrapodi-Mequio</span>
</mat-toolbar>
