.title {
  font-size: 300%;
}

.centrale {
  display: grid;
  place-items: center;
  margin-top: 5%;
}

mat-grid-tile {
  background: #eff7fc;
  border-radius: 20px;
}

.gridCont{
  margin-top: 3%;
}
