<div class="maindata">
    <div class="imgbox">
        <img class="userpic" src="./assets/imgs/home/center-cta-report.jpeg">
    </div>
    <div class="usertext">
    <h1 class="username">  Bentornato! </h1>
    <p class="subtitle"> Casa Vianello Animal Center</p>
    <div class="otherdata">
        <div><p class="personaldata">Email:</p><p class="subtext">Prova&#64;gmail.com</p></div>
        <div><p class="personaldata">Indirizzo:</p><p class="subtext">Corso Eccessivamente 15, 88100 Catanzaro</p></div>
        <div><p class="personaldata">Condizioni abitative:</p><p class="subtext">Offriamo i pasticcini il venerdi'</p></div>
        <div><p class="personaldata">Altre info:</p><p class="subtext">La proprietaria vota Trump</p></div>
    </div>
    </div>
    </div>


    <div class="flexGrid">
        <div class="items">
        <h3>Modifica il tuo profilo</h3>
        <button mat-stroked-button>Modifica</button>
        </div>
        <div class="items">
        <h3>Aggiungi una nuova adozione</h3>
        <button mat-stroked-button>Aggiungi</button>
        </div>
    </div>

    <!--Aggiungere qui un pulsante per modificare i dati personali e uno per caricare un animale-->
    
    <h2 class="highlight"> Richieste Ricevute </h2> 
      <div class="flexGrid">
        <div class="flexCardItem"><app-animal-card></app-animal-card></div>
        <div class="flexCardItem"><app-animal-card></app-animal-card></div>
        <div class="flexCardItem"><app-animal-card></app-animal-card></div>
      </div>


      <h2 class="highlight"> Recensioni Ricevute</h2>       
    <div class="flexGrid">
        
            <div class="feedback"><app-feedback-card></app-feedback-card></div>
            <div class="feedback"><app-feedback-card></app-feedback-card></div>
        

    </div>