<div class="flexGrid my-container">
  <div class="main-content">
    <div class="animal-name">
      Nome-Animale
    </div>
    <div class="animal-image">
      <img src="/media/cc0-images/grapefruit-slice-332-332.jpg">
    </div>
    <div>
      <mat-icon aria-hidden="false" aria-label="sesso" fontIcon="pets"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="data di nascita" fontIcon="cake"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="sterilizzato" fontIcon="local_hospital"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="carattere" fontIcon="psychology"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="storia" fontIcon="book_5"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="esigenze particolari" fontIcon="diversity_1"></mat-icon>

    </div>
  </div>
  <div class="sidebar-content">
    Compila il modulo di adozione
    <button mat-raised-button>Qui</button>
  </div>
</div>
