<div class="maindata">
<div class="imgbox">
    <img class="userpic" src="./assets/imgs/home/private-cta-report.jpeg">
</div>
<div class="usertext">
<h1 class="username"> {{utenteprivato.nome}} </h1>
<p class="subtitle"> Utente privato </p>
<div class="otherdata">
    <p class="personaldata">Email:<br>{{utenteprivato.email}}</p>
    <p class="personaldata">Indirizzo:<br>{{utenteprivato.indirizzo}}</p>
    <p class="personaldata">Condizioni abitative:<br>{{utenteprivato.condizioniAbitative}}</p>
    <p class="personaldata">Altre info:<br>{{utenteprivato.informazioniagg}}</p>
</div>
</div>
</div>

<h2 class="requesttitle"> Richieste effettuate </h2> 
  <div class="flexGrid">
    <div class="flexCardItem"><app-animal-card></app-animal-card></div>
    <div class="flexCardItem"><app-animal-card></app-animal-card></div>
    <div class="flexCardItem"><app-animal-card></app-animal-card></div>
  </div>
