.example-card {
  max-width: 400px;
}



.imgCarousel{
  width:100%;
  object-fit: cover;

}

.car{
  width:50%;
  box-shadow: 2px 2px 20px #171717;
}

.carouselCont {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;

}


.CTA {
  margin-top: 3em;
  margin-bottom: 3em;
}

.spacer{
  flex: 1 1 auto;
}

.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto; /* altezza del contenitore */
  place-items: center;
}

.box-item {
  flex: 1; /* rapporto di crescita o di riduzione degli elementi */
  text-align: center; /* allineamento del testo */
  padding-top: 1rem;
  padding-bottom: 1rem;
}
