<div class="carouselCont">
  <ngb-carousel class="car"
	#carousel
	[interval]="15000"
	[pauseOnHover]="true"
>
	@for (img of images; track img; let i = $index) {
		<ng-template ngbSlide>
			<img [src]="img" alt="My image {{ i + 1 }} description" class="imgCarousel" />
		</ng-template>
	}
</ngb-carousel>
</div>



<!-- <div>
  <div class="flexGrid">
    <div class="flexCardItem"><app-adoption-card></app-adoption-card></div>
    <div class="flexCardItem"><app-adoption-card></app-adoption-card></div>
    <div class="flexCardItem"><app-adoption-card></app-adoption-card></div>
  </div>
</div> -->



<mat-tab-group class="CTA">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">account_circle</mat-icon>
      Utenti Privati
    </ng-template>

    <div class="box">
      <div class="box-item">
        <app-small-card [img]="'./assets/imgs/home/private-cta-adopt.png'" alt="'Illustrazione'">
          Trova il tuo amico peloso oggi!<br>Adotta un animale in attesa di casa!
        </app-small-card>
      </div>
      <div class="box-item">
        <app-small-card [img]="'./assets/imgs/home/private-cta-report.png'" alt="'Illustrazione'">
          Aiutaci a trovare animali bisognosi:<br> fai la tua parte segnaladoli!
        </app-small-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">emergency</mat-icon>
      Centri Adozione
    </ng-template>

    <div class="box">
      <div class="box-item">
        <app-small-card [img]="'./assets/imgs/home/center-cta-report.png'" alt="'Illustrazione'">
          Fai la differenza: inserisci un annuncio<br>per uno dei vostri animali in cerca di adozione
        </app-small-card>
      </div>
      <div class="box-item">
        <app-small-card [img]="'./assets/imgs/home/center-cta-adopt.png'" alt="'Illustrazione'">
          Analizza le segnalazioni che arrivano dai nostri utenti <br> e offri una mano agli animali bisognosi
        </app-small-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

