<div class="carouselCont">
  <ngb-carousel class="car"
	#carousel
	[interval]="15000"
	[pauseOnHover]="true"
>
	@for (img of images; track img; let i = $index) {
		<ng-template ngbSlide>
			<img [src]="img" alt="My image {{ i + 1 }} description" class="imgCarousel" />
		</ng-template>
	}
</ngb-carousel>
</div>

<p style="text-align: center; font-size: 150%; padding: 2%">
<strong>Benvenuto su ProntoMiao! - Dove Ogni Storia Trova una Coda Felice!</strong><br>

Se siete pronti a dare amore e una casa a un nuovo amico peloso, siete nel posto giusto!
ProntoMiao è il luogo dove il tuo cuore e un piccolo felino si incontrano per un legame eterno.
Siamo appassionati di connettere gatti adorabili con famiglie amorevoli, creando storie di felicità a quattro zampe.

<br>
<br>

Cosa rende ProntoMiao unico:

<br>
<br>

Ogni gatto su ProntoMiao è stato attentamente selezionato e ha ricevuto cure amorevoli. Garantiamo la salute e la felicità di ogni micio che trovi qui.

<br>

<br>
Il nostro processo di adozione è semplice e trasparente. Ti guidiamo passo dopo passo, assicurandoci che tu e il nuovo compagno peloso vi adattiate perfettamente.

<br>

<br>
Segui le storie di successo delle adozioni su ProntoMiao. Condividiamo momenti speciali tra gatti e nuovi proprietari, creando una comunità di amore e supporto.

<br>

<br>
La nostra missione non finisce con l'adozione. Offriamo supporto continuo per garantire che ogni gatto abbia la migliore vita possibile nella sua nuova casa.

Entra nel mondo di ProntoMiao e scopri il potenziale di un amore a quattro zampe. Trova il tuo compagno perfetto oggi!

</p>



<!-- <div>
  <div class="flexGrid">
    <div class="flexCardItem"><app-adoption-card></app-adoption-card></div>
    <div class="flexCardItem"><app-adoption-card></app-adoption-card></div>
    <div class="flexCardItem"><app-adoption-card></app-adoption-card></div>
  </div>
</div> -->



<mat-tab-group class="CTA">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">account_circle</mat-icon>
      Utenti Privati
    </ng-template>

    <div class="box">
      <div class="box-item">
        <app-small-card [img]="'./assets/imgs/home/private-cta-adopt.png'" alt="'Illustrazione'">
          Trova il tuo amico peloso oggi!<br>Adotta un animale in attesa di casa!
        </app-small-card>
      </div>
      <div class="box-item">
        <app-small-card [img]="'./assets/imgs/home/private-cta-report.png'" alt="'Illustrazione'">
          Aiutaci a trovare animali bisognosi:<br> fai la tua parte segnaladoli!
        </app-small-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">emergency</mat-icon>
      Centri Adozione
    </ng-template>

    <div class="box">
      <div class="box-item">
        <app-small-card [img]="'./assets/imgs/home/center-cta-report.png'" alt="'Illustrazione'">
          Fai la differenza: inserisci un annuncio<br>per uno dei vostri animali in cerca di adozione
        </app-small-card>
      </div>
      <div class="box-item">
        <app-small-card [img]="'./assets/imgs/home/center-cta-adopt.png'" alt="'Illustrazione'">
          Analizza le segnalazioni che arrivano dai nostri utenti <br> e offri una mano agli animali bisognosi
        </app-small-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

