<div class="parent">
  <div class="form">
    <form class="form" [formGroup]="annuncioForm">
      <mat-form-field class="formField" appearance="outline" >
        <mat-label required>Titolo</mat-label>
        <input matInput required formControlName="titolo"/>
      </mat-form-field>
      <mat-form-field class="formField" appearance="outline" >
        <mat-label required>Descrizione</mat-label>
        <textarea matInput required formControlName="descrizione"></textarea>
      </mat-form-field>
<!--      <mat-form-field class="formField" appearance="outline">
        <mat-label required>Dati di Geolocalizzazione</mat-label>
        <textarea matInput required></textarea>
      </mat-form-field>-->
      <mat-form-field class="formField" appearance="outline" >
        <mat-label>Animale</mat-label>
        <mat-select formControlName="animale">
          @for (animale of animali; track animale) {
            <mat-option [value]="animale.id">{{animale.id}} - {{animale.nome}}</mat-option>
          }
        </mat-select>
      </mat-form-field>      
      <mat-form-field class="formField" appearance="outline" >
        <mat-label>Informazioni Aggiuntive</mat-label>
        <textarea matInput formControlName="informazioni"></textarea>
      </mat-form-field>
      <input #pngInput hidden="true" type="file" onclick="this.value=null" (change)="pngInputChange($event)"
        accept=".png" />
      <button class="formButton" mat-flat-button color="primary" (click)="pngInput.click()">
        Scegli immagine (PNG)
      </button>
    </form>
    <button class="formButton" mat-raised-button color="primary" (click)="inserisciAnnuncio()">Invia Dati</button>
  </div>

  <img src="./assets/imgs/adoption-form.png" alt="Dai, inserisci un annuncio!" height="300" width="300" />
</div>
