<div class="maindata">
    <div class="imgbox">
        <img class="userpic" src="./assets/imgs/home/center-cta-report.jpeg">
    </div>
    <div class="usertext">
    <h1 class="username"> Casa Vianello Animal Center </h1>
    <p class="subtitle"> Centro Adozioni </p>
    <div class="otherdata">
        <div><p class="personaldata">Email:</p><p class="subtext">Prova&#64;gmail.com</p></div>
        <div><p class="personaldata">Indirizzo:</p><p class="subtext">Corso Eccessivamente 15, 88100 Catanzaro</p></div>
        <div><p class="personaldata">Condizioni abitative:</p><p class="subtext">Offriamo i pasticcini il venerdi'</p></div>
        <div><p class="personaldata">Altre info:</p><p class="subtext">La proprietaria vota Trump</p></div>
    </div>
    </div>
    </div>
    
    <h2 class="highlight"> Animali in evidenza </h2> 
      <div class="flexGrid">
        <div class="flexCardItem"><app-animal-card></app-animal-card></div>
        <div class="flexCardItem"><app-animal-card></app-animal-card></div>
        <div class="flexCardItem"><app-animal-card></app-animal-card></div>
      </div>


      <h2 class="highlight"> I Nostri Contenuti </h2>       
    <div class="centerpost">
        <div class="flexGrid">
            <div class="flexCardItem"><app-animal-card></app-animal-card></div>
            <div class="flexCardItem"><app-animal-card></app-animal-card></div>
          </div>
        <div class="feedbackrows">
            <div class="feedback"><app-feedback-card></app-feedback-card></div>
            <div class="feedback"><app-feedback-card></app-feedback-card></div>
          </div>

    </div>