<mat-card class="animal-card" >
    <mat-card-header>
      <div mat-card-avatar class="animal-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Cane">
    <mat-card-content>
      <p>
        descrizione di prova
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>ADOTTAMI</button>
    </mat-card-actions>
  </mat-card>
  