<div class="maindata">
    <div class="imgbox">
        <img class="userpic" src="./assets/imgs/home/center-cta-report.png">
    </div>
    <div class="usertext">
    <h1 class="username"> {{centro!.nome}} </h1>
    <p class="subtitle"> Centro Adozioni </p>
    <div class="otherdata">
      <div><p class="personaldata">Email:</p><p class="subtext"></p>{{centro!.email}}</div>
      <div><p class="personaldata">Indirizzo:</p><p class="subtext"></p>{{centro!.indirizzo}}</div>
      <div><p class="personaldata">Orari:</p><p class="subtext"></p>{{centro!.orari}}</div>
      <div><p class="personaldata">Descrizione:</p><p class="subtext"></p>{{centro!.descrizione}}</div>
      <div><p class="personaldata">Eventi:</p><p class="subtext"></p>{{centro!.eventi}}</div>
    </div>
    </div>
    </div>

    <div class="flexGrid">
      <div class="items">
        <h3>Aggiungi una nuova recensione</h3>
        <button mat-stroked-button [routerLink]="routeRecensioni">Aggiungi Recensione</button>
      </div>
  </div>

      <h2 class="highlight"> Le nostre adozioni </h2>

        <div class="adoptions" *ngIf="annunci!.length>0">
            <div class="adoption" *ngFor="let annuncio of annunci">
              <app-adoption-card [annuncio]="annuncio"></app-adoption-card>
            </div>
          </div>

    <h2 class="highlight"> Cosa pensano di noi </h2>
      <div class="reviews" *ngIf="annunci!.length>0">
          <div class="review" *ngFor="let recensione of recensioni"><app-feedback-card [recensione]="recensione"></app-feedback-card></div>
        </div>
