<div class="parent">
    <div class="form">
    <p>Registrati a ProntoMiao</p>
    <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cognome</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput>
      </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">Utente Privato</mat-option>
      <mat-option value="two">Centro Adozioni</mat-option>
    </mat-select>
  </mat-form-field>
  <section class="formCheckbox">
    <mat-checkbox>Accetto i Termini e Condizioni di utilizzo</mat-checkbox>
  </section>
  <br>
  <button mat-raised-button color="primary">Registrati</button>

    </div>
    <div class="image">
        <img src="./assets/signup.jpeg" alt="Dai, Registrati!" height="250" width="250">
    </div>
</div>
