<div class="parent">
  <div class="form">
    <form class="form">
      <mat-form-field class="formField" appearance="outline">
        <mat-label required>Titolo</mat-label>
        <input matInput required />
      </mat-form-field>
      <mat-form-field class="formField" appearance="outline">
        <mat-label required>Descrizione</mat-label>
        <textarea matInput required></textarea>
      </mat-form-field>
      <mat-form-field class="formField" appearance="outline">
        <mat-label required>Dati di Geolocalizzazione</mat-label>
        <textarea matInput required></textarea>
      </mat-form-field>
      <mat-form-field class="formField" appearance="outline">
        <mat-label>Informazioni Aggiuntive</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <input #pngInput hidden="true" type="file" onclick="this.value=null" (change)="pngInputChange($event)"
        accept=".png" />
      <button class="formButton" mat-flat-button color="primary" (click)="pngInput.click()">
        Scegli immagine (PNG)
      </button>
    </form>
    <button class="formButton" mat-raised-button color="primary">Invia Dati</button>
  </div>

  <img src="./assets/segnalation-form.png" alt="Dai, inserisci un annuncio!" height="300" width="300" />
</div>
