<div class="maindata">
<div class="imgbox">
    <img class="userpic" src="./assets/imgs/home/private-cta-report.jpeg">
</div>
<div class="usertext">
<h1 class="username"> Mario Rossi </h1>
<p class="subtitle"> Utente privato </p>
<div class="otherdata">
    <p class="personaldata">Email:<br>Prova&#64;gmail.com</p>
    <p class="personaldata">Indirizzo:<br>Via dalle scatole 25, 88068 Soverato (CZ)</p>
    <p class="personaldata">Condizioni abitative:<br>Nessuna allergia, nessun bambino presente in casa.</p>
    <p class="personaldata">Altre info:<br>A volte la gatta della vicina viene a farci visita</p>
</div>
</div>
</div>

<h2 class="requesttitle"> Richieste effettuate </h2> 
  <div class="flexGrid">
    <div class="flexCardItem"><app-animal-card></app-animal-card></div>
    <div class="flexCardItem"><app-animal-card></app-animal-card></div>
    <div class="flexCardItem"><app-animal-card></app-animal-card></div>
  </div>
