/* For use in src/lib/core/theming/_palette.scss */
$l-primary: (
    50 : #f8f5f1,
    100 : #eee7dc,
    200 : #e3d7c5,
    300 : #d8c6ae,
    400 : #cfba9c,
    500 : #c7ae8b,
    600 : #c1a783,
    700 : #ba9d78,
    800 : #b3946e,
    900 : #a6845b,
    A100 : #ffffff,
    A200 : #ffefdd,
    A400 : #ffd8aa,
    A700 : #ffcc90,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$l-secondary: (
    50 : #f5f9f2,
    100 : #e6f1de,
    200 : #d5e8c8,
    300 : #c4dfb1,
    400 : #b7d8a1,
    500 : #aad190,
    600 : #a3cc88,
    700 : #99c67d,
    800 : #90c073,
    900 : #7fb561,
    A100 : #ffffff,
    A200 : #f5fff0,
    A400 : #d4ffbd,
    A700 : #c4ffa3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$l-warn: (
    50 : #fee9e8,
    100 : #fcc9c5,
    200 : #faa59f,
    300 : #f78078,
    400 : #f6655b,
    500 : #f44a3e,
    600 : #f34338,
    700 : #f13a30,
    800 : #ef3228,
    900 : #ec221b,
    A100 : #ffffff,
    A200 : #ffedec,
    A400 : #ffbbb9,
    A700 : #ffa2a0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



/* For use in src/lib/core/theming/_palette.scss */
$d-primary: (
    50 : #edeae7,
    100 : #d2cbc2,
    200 : #b4a99a,
    300 : #958672,
    400 : #7f6c53,
    500 : #685235,
    600 : #604b30,
    700 : #554128,
    800 : #4b3822,
    900 : #3a2816,
    A100 : #ffba7a,
    A200 : #ffa047,
    A400 : #ff8514,
    A700 : #f97800,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$d-secondary: (
    50 : #e9ece6,
    100 : #c8d0c0,
    200 : #a4b197,
    300 : #80926d,
    400 : #647a4d,
    500 : #49632e,
    600 : #425b29,
    700 : #395123,
    800 : #31471d,
    900 : #213512,
    A100 : #abff74,
    A200 : #8dff41,
    A400 : #6eff0e,
    A700 : #61f300,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$d-warn: (
    50 : #f4e3e2,
    100 : #e3b9b6,
    200 : #d18a85,
    300 : #bf5b54,
    400 : #b1372f,
    500 : #a3140a,
    600 : #9b1209,
    700 : #910e07,
    800 : #880b05,
    900 : #770603,
    A100 : #ffa6a5,
    A200 : #ff7372,
    A400 : #ff413f,
    A700 : #ff2825,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

