<div class="parent">

  <div class="form">
    <mat-form-field class="formField">
      <mat-label required>Email</mat-label>
      <input matInput required />
    </mat-form-field>
    <mat-form-field class="formField">
      <mat-label>Password</mat-label>
      <input matInput required/>
    </mat-form-field>
    <section class="formCheckbox">
      <mat-checkbox>Rimani Connesso</mat-checkbox>
    </section>


    <button mat-raised-button color="primary">Accedi</button>
  </div>

  <img
    src="./assets/login.png"
    alt="Dai, Registrati!"
    height="250"
    width="250"
  />
</div>
