<div class="parent">
  <div class="form">
    <p>Registrati a ProntoMiao</p>
    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" class="form">
          <ng-template matStepLabel>Inserisci i tuoi dati</ng-template>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Che tipo di utente sei?</mat-label>
      <mat-select>
        <mat-option value="one">Utente Privato</mat-option>
        <mat-option value="two">Centro Adozioni</mat-option>
      </mat-select>
    </mat-form-field>
    <section class="formCheckbox">
      <mat-checkbox>Accetto i Termini e Condizioni di utilizzo</mat-checkbox>
    </section>
    <br>
    <button mat-raised-button matStepperNext color="primary">Procedi</button>
</form>
</mat-step>
<mat-step [stepControl]="secondFormGroup" label="Completa la registrazione">
  <form [formGroup]="secondFormGroup" class="form">
    <ng-template matStepLabel>Utente Privato
    </ng-template>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Cognome</mat-label>
      <input matInput>
    </mat-form-field>
   <div>
      <button mat-raised-button matStepperPrevious class="control" color="primary">Indietro</button>
      <button mat-raised-button matStepperNext color="primary">Registrati</button>
    </div>
</form></mat-step>

<mat-step [stepControl]="secondFormGroup" label="Completa la registrazione">
  <form [formGroup]="secondFormGroup" class="form">
    <ng-template matStepLabel>Centro Adozione</ng-template>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Cognome</mat-label>
      <input matInput>
    </mat-form-field>
   <div>
      <button mat-raised-button matStepperPrevious class="control" color="primary">Indietro</button>
      <button mat-raised-button matStepperNext color="primary">Registrati</button>
    </div>
</form></mat-step></mat-stepper>
  </div>
  <div class="image">
    <img src="./assets/imgs/signup.png" alt="Dai, Registrati!" height="250" width="250">
  </div>
</div>
