<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="./assets/slide1.jpg" alt="First slide" height="500px">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="./assets/slide2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="./assets/slide2.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div>
  <div class="flexGrid">
    <div class="flexCardItem"><app-animal-card></app-animal-card></div>
    <div class="flexCardItem"><app-animal-card></app-animal-card></div>
    <div class="flexCardItem"><app-animal-card></app-animal-card></div>
  </div>
</div>

<div class="flexGrid" style="margin-top: 50px;">
<mat-tab-group dynamicHeight>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">account_circle</mat-icon>
      Per Utenti Privati
    </ng-template>
    <div class="box">
     <div class="box-item">
      <img src="./assets/home1.jpeg" style="height: 150px; width: 150px;">
     </div>
     <div class="box-item"> 
        <img src="./assets/home2.jpeg" style="height: 150px; width: 150px;">
        <br>
        Aiuta a soccorrere un animale in difficoltá!
      </div>  
    </div>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">home</mat-icon>
      Per Centri Adozione
    </ng-template>
    <div class="box">
      <div class="box-item">
       <img src="./assets/home4.jpeg" style="height: 150px; width: 150px;">
      </div>
      <div class="box-item"> 
         <img src="./assets/home3alt.jpeg" style="height: 150px; width: 150px;">
         <br>
         Aiuta a soccorrere un animale in difficoltá!
       </div>  
     </div>
</mat-tab></mat-tab></mat-tab-group>
</div>