<mat-card class="animal-card">
  <mat-card-header>
    <div mat-card-avatar class="animal-header-image"></div>
    <mat-card-title>{{annuncio?.animale?.nome}}</mat-card-title>
    <mat-card-subtitle>{{annuncio?.animale?.razza}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Cane">
  <mat-card-content>
    <p>
      {{annuncio?.descrizione}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>ADOTTAMI</button>
  </mat-card-actions>
</mat-card>
