<div class="parent">

  <div class="form">
    <form [formGroup]="loginForm" class="form">
      <mat-form-field class="formField" appearance="outline">
        <mat-label required>Email</mat-label>
        <input type="email" matInput required formControlName="email" />
        <mat-error
          *ngIf='loginForm.controls["email"].invalid'>{{getErrorMessage(loginForm.controls["email"])}}</mat-error>
      </mat-form-field>
      <mat-form-field class="formField" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput required formControlName="password" />
        <mat-error
          *ngIf='loginForm.controls["password"].invalid'>{{getErrorMessage(loginForm.controls["password"])}}</mat-error>
      </mat-form-field>
      <section class="formCheckbox">
        <mat-checkbox>Rimani Connesso</mat-checkbox>
      </section>

      <button mat-raised-button color="primary" (click)="login()">Accedi</button>
    </form>
  </div>

  <img src="./assets/imgs/login.png" alt="Dai, Registrati!" height="250" width="250" />
</div>
