.animal-card {
    max-width: 300px;
  }

.animal-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  }

.content {
    text-align: center;
}

.actions
{
    display: grid;

}

.pointer{
    cursor: pointer;

}
