.maindata{
    margin-left: 10%;
    margin-top: 3em;
    display: grid;

}

.usertext {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 1%;
}
.username {

    font-size: 3em;

}

.userpic {
    height: 200px;
    width: 200px;
    border: 3px;
    border-color: black;
    border-style:groove;
}

.otherdata{
    display: grid;
    grid-template-columns: repeat(2, 10fr);
    grid-gap: 50px;

}

.personaldata{
    font-weight: bold;
}

.highlight{
    text-align: center;
    margin-top: 5%;
}

.flexGrid{
    margin-top: 1%;
}

.adoptions{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%;
    grid-gap: 1px;
    margin-top: 50px;
    place-items: center;
    align-items: center;
}

.reviews{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 5%;
    grid-gap: 1px;
    margin-top: 50px;
    place-items: center;
    align-items: center;
}

.adoption{
  min-width: 300px;
}

.review{
  min-width: 200px;
}

.feedback{
margin-top: 4px;
margin-bottom: 2px;
}
