<div class="registrationform">
  <!-- <div class="formcontent">
    <p>Esegui l'Accesso a ProntoMiao!</p>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput />
    </mat-form-field>
  </div> -->

  <form [formGroup]="profileForm" (ngSubmit)="submit()">

    <div class="form-group mb-3">
      <input
        type="email"
        formControlName="email"
        class="form-control"
        [ngClass]="f['email'].errors && f['email'].errors['required'] ? 'is-invalid' : ''"
        placeholder="Inserisci la tua email"
      />
    </div>

    <div class="form-group mb-3">
      <input
        type="password"
        formControlName="password"
        class="form-control"
        placeholder="Inserisci la tua password"
      />
    </div>

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Ricordami</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    {{ profileForm.value | json }}
  </form>


  <div class="image">
    <img
      src="./assets/login.png"
      alt="Dai, Registrati!"
      height="250"
      width="250"
    />
  </div>
</div>
